<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Quoting Dojo</a>
            </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="https://www.google.com">Google</a></li>
                    <li><a href="https://www.brainyquote.com/topics/ridiculous">Brainy Quotes</a></li>
                </ul>
        </div>
    </nav>
    <% for (var i in quotes) { %>
    <div class="media">
        <!--<div class="media-left">
            <img src="./static/bart.jpg" class="media-object" style="width:60px">
        </div>-->        
            <div class="media-body">
                <h4 class="media-heading"><%= quotes[i].name %> said on, <%= quotes[i].createdAt %></h4>
                <p><%= quotes[i].content %></p>
        </div>
    </div>
    <% } %>
</body>
</html>